html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* 公共样式 */
.home,.comfortable,.history-swiper,.concept,.drive,.seat,.video,.signup,.price{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
/* 头部 */
header{
    position: relative;
    width: 100%;
    height: 83px;
    border-bottom: 1px solid #b3ada1;
    padding-left: 35px;
    padding-right: 184px;
}
.header-left-logo{
    display: inline-block;
    margin-top: 49px;
}
.header-nav{
    height: 83px;
    padding-top: 47px;
    float: right;
}
.header-nav li{
    float: left;
}
.header-nav a{
    display: inline-block;
    padding: 0 24px;
    height: 19px;
    line-height: 19px;
    font-size: 14px;
    color: #535353;
}
.header-nav a:hover{
    font-weight: bold;
    color: black;
}
.header-nav i{
    display: inline-block;
    width: 1px;
    height: 19px;
    background: #535353;
}
.header-right-logo{
    position: absolute;
    right: 0;
    top: 0;
    width: 184px;
    height:113px;
    background: url(../img/top-bg.png)no-repeat;
    background-size: 184px 113px;
    padding-top:28px;
    padding-left: 75px;
    z-index: 50;
}
.header-right-logo img{
    line-height: 113px;
}
/* 向下滑动 */
.button-next{
    width: 42px;
    height: 42px;
    background:black url(../img/button-next.png)no-repeat;
    background-size: 42px 42px;
    border-radius: 50%;
    top:100%;
    left: 50%;
    margin-top:-63px;
    margin-left:-21px;
    transition: 1s;
    transition-delay:1.5s;
}
/* 分页器 */
.pagination{
    height: 100%;
    width: 3.71%;
    background: rgba(0, 0, 0, 0.99);
    top: 0;
    left: 0;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0;
}
.pagination span{
    display: block;
    width: 100%;
    height: 9%;
    border-radius: 0;
    transition-delay:0.5s;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    opacity: 1;
}
.pagination span:last-child{
    position: absolute;
    bottom: 0;
    background: #252222;
}
.pagination>.swiper-pagination-bullet-active{
    background-position-x: 100% !important;
}
.button-next-span{
    position: absolute;
    top:100%;
    left: 50%;
    margin-top:-80px;
    margin-left:-21px;
    font-size: 12px;
    text-align: center;
    z-index: 2;
    transition: 1s;
    transition-delay:1.5s;
}
/* 在过渡效果开始前等待0.6s */
.content-wrapper{
    transition-delay:0.5s;
}
.ani-opacity{
    opacity: 0;
}
.content{
    flex: 1;
    overflow: hidden;
}
.content-swiper{
    height: 100%;
}
/* 首页 */
.home{
    background: url(../img/home-bg.png) no-repeat;
    background-size: 100% 104%;
}
.home-title{
    position: absolute;
    right: 15.97%;
    top:13.51%;
    width: 32.76%;
    height: 8.94%;
    background: url(../img/home-title.png)no-repeat;
}
.home-p{
    position: absolute;
    right: 15.97%;
    top:24.45%;
    width: 11.07%;
    height: 3.37%;
    background: url(../img/home-p.png)no-repeat;
}
.home-title,.home-p{
    background-size: 100% 100%;
    transform: translateX(50px) translateZ(0.01px);
    opacity: 0;
    transition: all 0.8s;
}
/* 首页动画 */
.ani-slide .home-title,.ani-slide .home-p{
    transform: translateX(0px) translateZ(0.01px);
    opacity: 1;
}
/* 舒适理念 */
.comfortable{
    font-size: 0;
    width: 100%;
    height: 100%;
    background: url(../img/comfortable-bg.png)no-repeat;
    background-size: 100% 100%;
}
.comfortable-img{
    width: 72.06%;
    margin-top: 8.15%;
    margin-left: 5.94%;
}
.comfortable-img img:nth-of-type(1){
    margin-left: 7.21%;
    width: 13.40%;
}
.comfortable-img img:nth-of-type(1),.comfortable-img img:nth-of-type(2),.comfortable-img img:nth-of-type(4),.comfortable-img img:nth-of-type(5),.comfortable-img img:nth-of-type(8),.comfortable-img img:nth-of-type(12),.comfortable-img img:nth-of-type(13){
    width: 13.40%;
}
.comfortable-img img:nth-of-type(3),.comfortable-img img:nth-of-type(7),.comfortable-img img:nth-of-type(9),.comfortable-img img:nth-of-type(11){
    width: 20.61%;
}
.comfortable-img img:nth-of-type(6){
    width: 18.55%;
}
.comfortable-img img:nth-of-type(7){
    margin-left: 20.61%;
}
.comfortable-img img:nth-of-type(14){
    width: 47.42%;
}
.comfortable-img img:nth-of-type(10){
    width: 19.58%;
}
.comfortable-img img{
    cursor: pointer;
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s;
}
/* 舒适理念动画 */
.ani-slide .comfortable-img img{
    transform: scale(1);
    opacity: 1;
}
.comfortable-img img:hover{
    transform:scale(0.8) rotateY(180deg) rotateZ(0.01deg) ;
}

/* 百年传承 */
.history-swiper .swiper-wrapper{
    transition-delay:0.5s;
}
.history-swiper{
    background: url(../img/history-bg.png)no-repeat;
    background-size: 100% 100%;
}
.history-page1,.history-page2,.history-page3,.history-page4,.history-page5,.history-page6,.history-page1-text,.history-page2-text,.history-page3-text,.history-page4-text,.history-page5-text,.history-page6-text{
    width: 100%;
    height: 100%;
}
.history-page1-text,.history-page2-text,.history-page3-text,.history-page4-text,.history-page5-text,.history-page6-text{
    transition: all 0.5s;
    opacity: 0;
}
.ani-slide-history .history-page1-text,.ani-slide-history .history-page2-text,.ani-slide-history .history-page3-text,.ani-slide-history .history-page4-text,.ani-slide-history .history-page5-text,.ani-slide-history .history-page6-text{
    opacity: 1;
}
.history-page1-text{
    background: url(../img/history-text1.png) no-repeat;
    background-size: 95% 92%;
}
.history-page2-text{
    background: url(../img/history-text2.png) no-repeat;
    background-size: 95% 92%;
}
.history-page3-text{
    background: url(../img/history-text3.png) no-repeat;
    background-size: 95% 92%;
}
.history-page4-text{
    background: url(../img/history-text4.png) no-repeat;
    background-size: 95% 92%;
}
.history-page5-text{
    background: url(../img/history-text5.png) no-repeat;
    background-size: 95% 92%;
}
.history-page6-text{
    background: url(../img/history-text6.png) no-repeat;
    background-size: 95% 92%;
}
.history-swiper img{
    position: absolute;
    top: 46.91%;
    left:50%;
}
.history-page1 img{
    width: 41.38%;
    margin-left: -20.69%;
}
.history-page2 img{
    width: 37.66%;
    margin-left: -18.83%;
}
.history-page3 img{
    width: 42.79%;
    margin-left: -21.395%;
}
.history-page4 img{
    width:48.14%;
    margin-left: -24.07%;
}
.history-page5 img{
    width: 47.99%;
    margin-left: -23.995%;
}
.history-page6 img{
    width: 49.47%;
    margin-left: -24.735%;
}
.history-button-prev{
    width: 52px;
    height: 52px;
    left:5.43%;
    background: url(../img/history-prev.png)no-repeat center center;
    border-radius: 50%;
    transition: opacity 0.5s
}
.history-swiper .swiper-button-next.swiper-button-disabled{
 opacity: 0;
}
.history-button-next{
    width: 52px;
    height: 52px;
    right:2.22%;
    background: url(../img/history-next.png)no-repeat center center;
    border-radius: 50%;
    transition: opacity 0.5s
}
.history-button-prev:hover,.history-button-next:hover{
    border:5px solid #1f4558;
}
/* 观享其悦 */
.concept{
    background: url(../img/concept-bg.png)no-repeat;
    background-size: 100% 100%;
}
/* 观享、驾享、座享动画 */
.concept-title,.drive-title,.seat-title{
    width: 24.07%;
    height: 13.12%;
    margin-top: 8.51%;
    margin-left: 6.68%;
    transform: translate3d(-50px,0,0.01px);
    opacity: 0;
    transition: all 0.8s;
}
.concept-title{
    background: url(../img/concept-title.png)no-repeat;
    background-size: 100% 100%; 
}
.concept-detailed{
    position: absolute;
    top:12.72%;
    left:22.06%;
    width: 56.46%;
    height: 67.19%;
    background: url(../img/concept-detailed-bg.png)no-repeat;
    background-size: 100% 100%;
    transition: all 0.8s;
    opacity: 0;
}
.ani-slide .concept-detailed{
    transform: translate3d(0,0,0.01px);
    opacity: 1;
}
.concept-detailed li{
    position: absolute;
    width: 100%;
}
.concept-detailed li:nth-of-type(1){
    top:72.48%;
    left: 1%; 
}
.concept-detailed li:nth-of-type(2){
    top:15.97%;
    left: 20.89%; 
}
.concept-detailed li:nth-of-type(3){
    top: -2.64%;
    left: 49.6%; 
}
.concept-detailed li:nth-of-type(4){
    top: 15.97%;
    left:76.31%;
}
.concept-detailed li:nth-of-type(5){
    top: 72.48%;
    left:96.2%;
}
.concept-detailed-text{
    width: 15.65%;
    transition: all 0.5s;
    opacity: 0;
}
.concept-detailed img{
    vertical-align: middle;
}
.concept-icon{
    width: 2.1%;
    box-sizing: initial;
    border-radius: 50%;
    padding:3px;
    border: 3px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.5s;
}
.concept-icon:hover{
    border: 3px solid #1f4558;
}

/* 驾享齐趣 */
.drive{
    background: url(../img/drive-bg.png)no-repeat;
    background-size: 100% 100%;
}
.drive-title{
    background: url(../img/drive-title.png)no-repeat;
    background-size: 100% 100%;
}

/* 座享其适 */
.seat{
    background: url(../img/seat-bg.png)no-repeat;
    background-size: 100% 100%;
}

.seat-title{
    background: url(../img/seat-title.png)no-repeat;
    background-size: 100% 100%;
}
.ani-slide .concept-title,.ani-slide .drive-title,.ani-slide .seat-title{
    transform: translate3d(0,0,0.01px);
    opacity: 1;
}

/* 精彩赏鉴 */
.video{
    background: url(../img/video-bg.png)no-repeat;
    background-size: 100% 100%;
}
.video-title{
    position: absolute;
    width: 11.73%;
    height: 7.55%;
    top:17.29%;
    right:17.23%;
    background: url(../img/video-titile.png)no-repeat;
    background-size: 100% 100%;
    transform: translateX(50px) translateZ(0.01px);
    opacity: 0;
    transition: all 0.8s;
}
.ani-slide .video-title{
    transform: translateX(0px) translateZ(0.01px);
    opacity:1;
}
.video embed{
    position: absolute;
    width: 47.54%;
    height: 71.57%;
    top:12.52%;
    left:20.28%;
    background: black;
}

/* 配置价格 */
.price{
    background: url(../img/price-bg.png)no-repeat;
    background-size: 100% 100%;
}
.price-title{
    width: 12.48%;
    height: 6.36%;
    background: url(../img/price-title.png)no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 7.95%;
    left:50%;
    margin-left: -6.24%;
    transition: all 0.8s;
    transform: translate3d(0,-30px,0.01px);
    opacity: 0;
}
.ani-slide .price-title{
    transform: translate3d(0,0,0);
    opacity: 1;
}
.price-table{
    position: absolute;
    width: 66.86%;
    height: 68.78%;
    top:17.49%;
    left: 50%;
    margin-left: -34.39%;
}
.price-table-header{
    position: relative;
    width: 100%;
    height: 25.43%;
    background: url(../img/price-table-header.png)no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}
.price-table-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 2%;
    box-sizing: unset;
}
.price-table-content .swiper-wrapper{
    height: 74.57%;
}
.price-table-content .swiper-scrollbar{
    background: #e5e5e5;
    transition-duration: 0ms;
}
.price-table-pages1{
    width: 100%;
    height: 100%;
    background: url(../img/price-table-page1.png)no-repeat;
    background-size: 100% 100%;
}
.price-table-pages2,.price-table-pages3,.price-table-pages4,.price-table-pages5,.price-table-pages6{
    width: 100%;
    height: 100%;
    background: url(../img/price-table-page2.png)no-repeat;
    background-size: 100% 100%;
}
.price-pagination{
    position: absolute;
    top:1%;
    right: -11%;
    height: 200px;
}
.price-pagination span{
    display: block;
    width: 100%;
    height: 15%;
    background: url(../img/price-pagination-2.png)no-repeat left center;
    margin-top: 2%;
    font-size: 14px;
    opacity: 1;
    border: 0;
    border-radius: 0;
    color: #fff;
    padding: 7px 0 0 15px;
    text-align: left;
}
.price-pagination .swiper-pagination-bullet-active{
    background: url(../img/price-pagination-1.png)no-repeat left center;
    color: #1f4558;
}
/* 报名试驾 */
.signup{
    font-size: 0;
    background:url(../img/signup-bg.png)no-repeat;
    background-size: 100% 108%;
}
/* 报名试驾动画 */
.signup-title{
    position: absolute;
    width: 11.44%;
    height: 12.32%;
    background: url(../img/signup-title.png)no-repeat;
    background-size: 100% 100%;
    top:16.3%;
    left:50%;
    margin-left: -5.72%;
     transform: translateY(-30px) translateZ(0.01px);
    opacity: 0;
    transition: all 0.8s;
}
.ani-slide .signup-title{
    transform: translateY(0px) translateZ(0.01px);
    opacity:1;
}
.signup-input{
    width: 29.79%;
    height: 44.13%;
    position: absolute;
    top:34.79%;
    left: 50%;
    margin-left: -14.895%;
}
.signup-information,.signup-area,.signup-dealer{
    width: 100%;
    height: 13.51%;
    margin-bottom: 4.5%;
}
.signup-area{
    position: relative;
}
.signup-name,.signup-phone,.signup-province,.signup-province-list,.signup-city,.signup-city-list{
    display: inline-block;
    width: 48.78%;
    height: 100%;
    line-height: 100%;
    color: #1f4558;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid #1f4558;
    background: #fff;
    box-sizing: border-box;
    margin: 0;
}
.signup-phone,.signup-city{
    margin-left: 2.44%;
}
.signup-name::-webkit-input-placeholder,.signup-phone::-webkit-input-placeholder{
    color: #1f4558;
}
.signup-province,.signup-city{
    background:#fff url(../img/download.png)no-repeat right center;
    text-align: left;
    cursor: pointer;
}
.signup-province-list,.signup-city-list{
    padding: 0;
    height: auto;
    position: absolute;
    opacity: 0;
}
.signup-province-list{
    top: 95%;
    left:0;
}
.signup-city-list{
    top: 95%;
    left:51.22%;
}
.signup-province-list input,.signup-city-list input{
    width: 100%;
    color: #1f4558;
    font-size: 16px;
    padding-left: 10px;
    background: #fff;
    box-sizing: border-box;
    border: none;
    text-align: left;
    cursor: pointer;
}
.signup-province-list input:hover,.signup-city-list input:hover{
    background: #1f4558;
    color: #fff;
}
.signup-dealer{
    width: 100%;
    color: #1f4558;
    font-size: 16px;
    padding-left: 10px;
    background:#fff url(../img/download.png)no-repeat right center;
    box-sizing: border-box;
    border: none;
    text-align: left;
    cursor: pointer;
    border: 1px solid #1f4558;
    margin: 0;
}
.signup-yuedu{
    display: flex;
    align-items:center;
    overflow: hidden;
    width: 100%;
    height: 30.63%;
    text-align:center;
    font-size: 14px;
}
.signup-juzhong{
    position: absolute;
    width: 100%;
    left: 50%;
    margin-left: -50%;
}
.signup-yuedu label{
    display: inline-block;
    vertical-align: middle;
}
.signup-yuedu span{
    display:inline-block;
    height: 16px;
    width: 16px;
    overflow: hidden;
    border-radius: 50%;
    border:1px solid black;
    vertical-align: middle;
}
#signup-statement{
    height: 17px;
    width: 17px;
    margin:0;
    box-sizing: border-box;
    color: #1f4558;
}
.signup-submit{
    display: block;
    width: 48.78%;
    height: 16.21%;
    background: #1f4558;
    font-size: 16px;
    line-height: 16.21%;
    color: #fff;
    border:1px solid #1f4558;
    border-radius: 40px;;
    border:none;
    margin:0 auto;
    cursor: pointer;
}
.signup-submit:hover{
    background: #fff;
    color: #1f4558;
    border:1px solid #1f4558;
}
/* 底部 */
.footer-nav{
    height: 24px; 
    float: right;
    padding-top: 2px; 
}
.footer-nav li{
    display: inline-block;
}
.footer-nav a{
    display: inline-block;
    font-size: 12px;
    color: #535353;
    padding:0 12px;
}
.footer-nav-active{
    border-left:1px solid #535353;
    border-right:1px solid #535353;
}
.footer-nav a:hover{
    text-decoration: underline;
}